.input__head {
  text-align: center;
  font-size: 30px;
  color: white;
  font-family: "montserrat";
}
.usage__area {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__holder {
  width: 90%;
  display: block;
  margin: auto;
  border-radius: 25px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  height: 150px;
  margin-top: 2%;
  background-color: white;
}

.equip__name {
  text-align: center;
  font-size: 25px;
  font-family: "montserrat";
}
.card__area {
  height: 570px;
  width: 80%;
  overflow-y: scroll;
}
.card__area::-webkit-scrollbar {
  display: none;
}

.card__area {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
